#clock{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(finalclockui.png) no-repeat;
    background-size: 100%;
    border: 5px solid red;
}
#hourHand, #minuteHand, #secondHand{
    position: absolute;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hourHand{
    width: 2.0%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    background:aqua;
 
}
 
#minuteHand{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    background:lawngreen;
  
}
 
#secondHand{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    background:yellow;
     
    
}


